
table.table-striped tbody tr {
	cursor: pointer;
}

table tbody tr td {
	white-space: nowrap
}

table thead th {
	white-space: nowrap
}

.td-produkter-navn {
	max-width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
}	

div.dataTables_filter {
	float: right;
}

/* required red star */
label.required:before {
  content: "* ";
  color: red;
}

.td-beskrivelse {
	max-width: 300px;
	overflow: hidden;
	text-overflow: ellipsis;
}	

/* colvis */
div.dt-button-collection {
	padding: 0px;
	margin-top: 0px;
}
div.dt-button-collection a.dt-button {
	border-radius: 0px;
	margin-bottom: 0px;
	padding-top: 3px;
	padding-bottom: 3px;
	border: 0;
}
div.dt-button-collection a.dt-button:hover:not(.disabled) {
	border: 0;
}
div.dt-button-collection a.dt-button {
	color: green;
}
div.dt-button-collection a.dt-button:not(.active) {
	color: red;
}

/* prevent selection */
*.no-select {
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* undersider modal */
#admin-underside-dialog .modal-dialog {
	min-width: 900px !important;

}
#admin-underside-dialog .modal-body {
	height: 500px !important;
	min-height: 500px !important;
}

.tooltip-inner {
	text-align: left;
}

table.dataTable tbody th.no-padding, 
table.dataTable tbody td.no-padding {
	padding-left: 7px;
	padding-right: 2px;
	padding-top: 10px;
	padding-bottom: 10px;
}

/** fix angulae-dataTables pagination issue **/

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	padding: 0px;
}


