
.well.produkt ul li{ 
	list-style-type:none;
}

.well.produkt ul li:before{ 
	font-family: 'Glyphicons Halflings';
	content: "\e013";
	position: relative;
	left: -10px;
	top: 2px;
	color: green;
}

.thumbnail .thumbnail-lg {
	height: 200px !important !important;
	width: 200px !important !important;
}

/* fix fancy box image movement */
#fbplus-wrap {
	box-sizing: content-box;
}
#fbplus-content { 
	box-sizing: content-box;
}

div.produkt-image {
	xwidth: 60% !important;
	max-height: 200px !important;
	max-width: 50px !important;
	margin-top: 5px;
	margin-right: 5px;
}
div.produkt-image img {
	height: 170px !important;
	max-height: 170px !important;
}

