.navbar-brand { 
	position: relative; 
	z-index: 2; 
	padding-top: 9px;
}

/*** footer **/
.footer-bs {
	background-color: #3c3d41;
	padding: 40px 40px;
	color: rgba(255,255,255,1.00);
	border-bottom-right-radius: 0px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom: 0px !important;
	border-bottom-right-radius: 0px !important;
	border-bottom-left-radius: 0px !important;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

@media (min-width: 768px) {
	.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgba(255,255,255,0.10); }
}

/** reset some styles **/
.no-margin {
	margin: 0px !important;
}
div.no-padding,
span.no-padding {
	padding: 0px !important;
}

.max-width {
	max-width: 1070px !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
	padding : 0px;
	margin-left: 0px;
	display: inline;
	border: 0px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
	border: 0px;
}

.modal-open {
	overflow: scroll;
}

.navbar-default {
	padding-right: 20px !important;
	margin-bottom: 0px;
  background-color:rgba(248, 248, 248, 0.7);
}
.navbar {
	margin-bottom: 0px;
}

/*' */
.element-even {
	background-color: rgb(251, 251, 251) !important;
}

/* search */
#imaginary_container{
	margin-top:20%; /* Don't copy this */
}
.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
	border-right:0; 
	box-shadow:0 0 0; 
	border-color:#ccc;
}
.stylish-input-group button{
	border: 0;
	background: transparent;
}

/** new affix **/

.affix {
	top: 0;
	width: 100%;
}

.affix + .container-fluid {
	padding-top: 70px;
}

.dropdown-menu {
	z-index: 1005;
}

/* large dropdown menu */
.dropdown-menu-left {
	position: absolute !important;
	left: 270px !important;
	font-weight: bold;
}

/*  ----------------------  NAVBAR RENDERING  ---------------------- */

.three-column-navbar {
	width: 47em; 
	height: auto; 
	margin: 4px 8px; 
	padding-bottom: 20px;
	float: right;
	border: 2px solid #e7e7e7;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.three-column-navbar h3 {
	padding: 0px !important;
	margin: 0px !important;
}

.three-column-navbar h4 {
	margin-left: 16px !important;
}

@media (min-width: 768px) {
	.navbar-right .dropdown-menu {
    right: 0;
    left: 0;
	}
}

/* correct to large search icon */
.input-group-addon {
	line-height: 0;
}

/* unstyled links */
a.unstyled {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}


