<div class="modal ng-scope top am-fade-and-slide-top center" tabindex="-1" role="dialog" style="display: block;" id="admin-produkt-ekstra-dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			
			<div class="modal-header">
				<h4 class="modal-title">{{ title }}</h4>
			</div>

			<div class="modal-body">

				<div class="row">
					<form role="form" class="form-horizontal col-md-12">

				    <div class="form-group">
				      <label class="col-md-2 control-label required" for="key">Navn</label>
							<div class="col-md-8">
						    <input auto-focus class="form-control" ng-model="edit.key" id="key">
							</div>
						</div>

				    <div class="form-group">
				      <label class="col-md-2 control-label required" for="value">Værdi</label>
							<div class="col-md-8">
								<textarea class="col-md-12 form-control" ng-model="edit.value" id="value"></textarea>
							</div>
						</div>

				    <div class="form-group">
				      <label class="col-md-2 control-label" for="sort_order">Sortering</label>
							<div class="col-md-3">
						    <input class="form-control" only-numbers ng-model="edit.sort_order" id="sort_order">
							</div>
						</div>

					</form>
				</div>
			</div>

			<div class="modal-footer">
				<button type="button" 
					class="btn" 
					ng-click="modalClose(true)" 
					ng-class="{ 'btn-success' : canSave() }"
					ng-enabled="canSave()">
						{{ btnOk }}
				</button> 
				<button type="button" 
					class="btn btn-default" 
					ng-click="modalClose(false)" 
					ng-show="!alertParams.okOnly" >
						Fortryd
				</button> 
			</div>

		</div>
	</div>
</div>
