		<footer class="footer-bs">
        <div class="row">
        	<div class="col-md-3 footer-brand animated fadeInLeft">
            	<h2>gulve.online</h2>
                <p>Suspendisse hendrerit tellus laoreet luctus pharetra. Aliquam porttitor vitae orci nec ultricies. Curabitur vehicula, libero eget faucibus faucibus, purus erat eleifend enim, porta pellentesque ex mi ut sem.</p>
                <p>© 2017 XYZ</p>
            </div>
        	<div class="col-md-5 footer-nav animated fadeInUp">
            	<h4>Førende indenfor :</h4>
            	<div class="col-md-6">
                    <ul class="pages">
                        <li><a href="#/kategori/Stavparket/2">Massiv stavparket</a></li>
                        <li><a href="#/kategori/Massiv plank/8">Massiv plank</a></li>
                        <li><a href="#/kategori/Terrasseplan/4">Terrasseplank</a></li>
                        <li><a href="#/kategori/Sildeben/6">Sildebensparket</a></li>
                        <li><a href="#/kategori/Mønsterparket/3">Mønsterparket</a></li>
                    </ul>
                </div>
            	<div class="col-md-6">
                    <ul class="list">
                        <li><a href="#/produkt-oversigt">Oversigt - samtlige produkter</a></li>
                        <li><a href="#/om-gulve-online">Om os</a></li>
                        <li><a href="#/kontakt">Kontakt</a></li>
												<li><a href="#/levering">Levering</a></li>
                        <li><a href="#/vilkaar-og-betingelser">Vilkår og betingelser</a></li>
                        <li ng-if="!isLoggedIn"><a href="#/login">Login</a></li>
                    </ul>
                </div>
            </div>
        	<div class="col-md-2 footer-nav footer-social animated fadeInDown">
            	<h4>Info</h4>
            	<ul>
                	<li><i class="glyphicon glyphicon-earphone"></i>&nbsp;&nbsp;+45 2372 2282</li>
                	<li><i class="glyphicon glyphicon-envelope"></i>&nbsp;&nbsp;<a href="mailto:info@gulve.online">info@gulve.online</a></li>
                	<li><small>CVR</small>&nbsp;&nbsp;33445566</li>
                	<li>Lager i Brøndby</li>
                </ul>
            </div>
        </div>
    </footer>
