<footer class="footer-bs">
	<div class="row">
		<div class="col-md-3 footer-brand animated fadeInLeft">
			<h2>hallandparket.dk</h2>
			<p>
				Stav, plank og mosaik. Import, produktion og salg af trægulve i kompromisløs kvalitet. 
			</p>
			<p>
				© 2017-18 Halland Floors ApS<br>
			</p>
		</div>
		<div class="col-md-4 footer-nav animated fadeInUp">
			<h4>Vilkår</h4>
De angivne priser er vejledende udsalgspriser incl. moms ab lager. Der tages forbehold for prisstigninger samt forkerte prisangivelser m.v.  Priserne er baseret på et minimumssalg på 20 m2 for lagervarer. Ved mindre partier samt ved partier med lille værdi, kan der beregnes et småordretillæg. Bestillingsvarer vil normal kræve en bestilling på minimum 50 m2. 
		</div>
		<div class="col-md-3 footer-nav footer-social animated fadeInDown">
			<h4>Info</h4>
			<ul>
				<li><i class="fa fa-home"></i>&nbsp;&nbsp;Agenavej 16-18, 2670 Greve</li>
				<li>Lager i Greve<br><small><small>(Vestegnen, syd for København)</small></small></li>
				<li><i class="fa fa-envelope"></i>&nbsp;&nbsp;<a href="mailto:info@hallandparket.dk">info@hallandparket.dk</a></li>
				<li><i class="fa fa-phone"></i>&nbsp;&nbsp;+45 2372 2282</li>
				<li><small>CVR</small>&nbsp;&nbsp;38044494</li>
			</ul>
		</div>
		<div class="col-md-2 footer-nav animated fadeInUp">
				<h4>Links</h4>
				<ul class="list">
					<li><a href="/produkt-oversigt" debug-link>Alle produkter</a></li>
					<li><a href="/om" debug-link>Om os</a></li>
					<li><a href="/kontakt" debug-link>Kontakt</a></li>
					<li ng-if="!isLoggedIn"><a href="/login" debug-link>Login</a></li>
				</ul>
		</div>
	</div>
</footer>

