<div class="alert alert-danger text-center">
  <strong>Bemærk</strong> Siden er under udarbejdelse. Alle produkter, tilbud og restpartier er udelukkende demonstration.
	<h3>gulve.online går i luften omkring fredag 28.04.2017</h3>
</div>

<section style="margin-bottom:50px !important;">

	<div ng-repeat="p in produkter" class="col-md-4 well well-lg boxed-produkt" style="background-color:#fff;">
		<article>
			<a ng-href="#/produkt/{{ p.navn }}/{{ p.id }}" class="unstyled">

				<h4 title="{{ p.navn }}">{{ p.navn }}</h4>

				<div class="boxed-produkt-image" ng-style="getBackgroundStyle(p)">
					<div class="boxed-title" ng-class="{ 'restlager': p.produkt_type_id == 3, 'tilbud': p.produkt_type_id == 2, 'nyhed': p.nyhed == 1 }">
						<span ng-if="p.produkt_type_id == 3">Restparti</span>
						<span ng-if="p.produkt_type_id == 2">Tilbud</span>
						<span ng-if="p.nyhed == 1">Nyhed</span>
					</div>
				</div>

				<div class="boxed-produkt-spec">
					<span ng-if="p.vare_nr != '' "><strong>{{ p.vare_nr }}</strong></span>
					<span ng-if="p.kategori != '' ">{{ p.kategori }}</span>
					<span ng-if="p.sort != '' ">{{ p.sort }}</span>
					<span ng-if="p.kvalitet != '' ">{{ p.kvalitet }}</span>
					<span ng-if="p.dimension != '' ">{{ p.dimension }}</span>
					<span ng-if="p.overflade != '' ">{{ p.overflade }}</span>
				</div>
				<div class="boxed-produkt-price">DKK {{ p.pris_enhed | currency:"":2 }} {{ p.enhed }}</div>

			</a>
		</article>
	</div>

</section>


