<div class="container-fluid">

	<section>

		<h1>Nyheder, aktuelle tilbud og restpartier</h1>
		<br>

		<div ng-repeat="p in produkter" class="well well-lg boxed-produkt col-md-3 col-sm-3 col-xs-12" style="background-color:#fff;">
			<article>

				<a href="{{ p.url }}" class="unstyled" title="Gå til {{ p.navn }}">
					<h4 title="{{ p.navn }}">{{ p.navn || '&nbsp;' }}</h4> 
					<div class="boxed-produkt-image" ng-style="getBackgroundStyle(p)">
						<div class="boxed-title" ng-class="{ 'restlager': p.produkt_type_id == 3, 'tilbud': p.produkt_type_id == 2, 'nyhed': p.nyhed == 1 }">
							<span ng-if="p.produkt_type_id == 3">Restparti</span>
							<span ng-if="p.produkt_type_id == 2">Tilbud</span>
							<span ng-if="p.nyhed == 1">Nyhed</span>
						</div>
					</div>
					<div class="boxed-produkt-spec">
						<span ng-if="p.vare_nr != '' "><strong>{{ p.vare_nr }}</strong></span>
						<span ng-if="p.kategori != '' ">{{ p.kategori }}</span>
						<span ng-if="p.sort != '' ">{{ p.sort }}</span>
						<span ng-if="p.kvalitet != '' ">{{ p.kvalitet }}</span>
						<span ng-if="p.overflade != '' ">{{ p.overflade }}</span>
						<span ng-if="p.profil != '' ">{{ p.profil }}</span>
						<span ng-if="p.dimension != '' && p.dimension != null && p.dim_l == null">{{ p.dimension }}</span>
						<span ng-if="p.dim_h != null"><em title="højde">{{ p.dim_h }}</em><small>&times;</small><em title="bredde">{{ p.dim_b }}</em><small>&times;</small><em title="længde">{{ p.dim_l }}</em><small>&nbsp;mm</small></span>
					</div>
					<div class="boxed-produkt-price">
						<span ng-if="p.tilbud_pris_enhed">
							<strike class="text-muted">{{ p.pris_enhed | currency }}</strike>
							{{ p.tilbud_pris_enhed | currency }} /{{ p.enhed }}
						</span>
						<span ng-if="!p.tilbud_pris_enhed">
							<span ng-if="p.pris_enhed == 0">
								Ring og spørg efter pris
							</span>
							<span ng-if="p.pris_enhed != 0">
								{{ p.pris_enhed | currency }} /{{ p.enhed }}
							</span>
						</span>
					</div>
				</a>

			</article>
		</div>
	</section>
</div>

<div class="clearfix">
	<br><br><br><br>
</div>


