<div class="container-fluid">
	<h1>Produkt oversigt</h1>
	<p>Komplet liste over produkter og produktgrupper på gulve.online</p>
	<div ng-repeat="k in kategorier">
		<h3>
			<a ng-href="#/kategori/{{ k.urlName }}/{{ k.id }}" class="unstyled">{{ k.navn }}</a>
		</h3>
		<div ng-repeat="p in k.produkter" style="margin-bottom: 2px;">
			<a ng-href="#/produkt/{{ p.urlName }}/{{ p.id }}" style="margin-left:20px;">{{p.navn}}</a>
			<span ng-if="p.produkt_type_id == 2" class="badge produkt-badge-small tilbud">TILBUD</span>
			<span ng-if="p.produkt_type_id == 3" class="badge produkt-badge-small restlager">RESTPARTI</span>
			<span ng-if="p.nyhed == 1" class="badge produkt-badge-small nyhed">NYHED</span>
			<br>
		</div>
		<br>
	</div>

	<br><br><br><br>

</div>


