	<div class="alert alert-danger text-center">
	  <strong>Bemærk</strong> Siden er under udarbejdelse. Alle produkter, tilbud og restpartier er udelukkende demonstration.
		<h3>gulve.online går i luften omkring tirsdag 10.04.2017</h3>
	</div>

<div class="jumbotron">


  <h2>Siden kommer snart!</h2>
  <p class="lead">
    <img classes="img-responsive center-block" src="images/parket-forside-serum-institut.jpg" alt="gulve.online"><br>
		Ekspert i massive trægulve, stavparket, mønsterparket og terrasseplank.
  </p>
</div>


