
<div ng-controller="NavbarCtrl"
	ng-hide="isLoggedIn" 
	class="container-fluid go-navbar">
	<div class="go-navbar-left col-md-9 col-sm-6  col-xs-12">
	  <h1><strong><code class="go-navbar-logo"><a href="/" class="unstyled" title="gulve.online forside">gulve.online</a></code></strong></h1>
	  <h2 style="white-space:nowrap;"><em>Stav, plank og mosaik</em></h2>
	</div>
	<div class="go-navbar-right col-md-3 col-sm-6 col-xs-12">
		<div class="visible-md visible-sm visible-lg">
			<h3><i class="fa fa-fw fa-phone"></i>&nbsp;&nbsp;
				<small style="color:white">(+45)</small> 2372 2282
				<br>
			</h3>
			<h3>
				<i class="fa fa-fw fa-envelope"></i>&nbsp;
				<a href="mailto:info@gulve.online" class="unstyled" title="Klik for at 
sende en mail">info@gulve.online</a>
			</h3>
		</div>
	</div>
		<div class="visible-xs">
			<h5><i class="fa fa-fw fa-phone"></i>&nbsp;&nbsp;
				<small style="color:white">(+45)</small> 2372 2282
			</h5>
			<h5 class="clearfix">
				<i class="fa fa-fw fa-envelope"></i>&nbsp;
				<a href="mailto:info@gulve.online" class="unstyled" title="Klik for at 
sende en mail">info@gulve.online</a>
			</h5>
		</div>
	</div>

</div>

<nav class="navbar navbar-default navbar-fixed-top" bs-affix data-offset-top="197" ng-controller="NavbarCtrl">
	<div class="no-margin no-padding">
	<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div class="navbar-brand pull-left" style="width:240px;">
				<div class="input-group stylish-input-group" style="width:230px;">
					<input type="text" 
						class="form-control" 
						placeholder="Søg på gulve.online" 
						input-enter="doSearch()"
						select-on-click
						ng-model="searchTerm"
						id="search-input">
					<span class="input-group-addon">
						<button type="submit" 
							ng-disabled="searchTerm == '' || searchTerm == undefined "
							data-title="Tip: Begræns søgning ved at søge på flere ord adskilt af mellemrum. F.eks <strong>eg sild 16x68</strong>" 
							data-placement="right" 
							data-container="body"
							data-html="true"
							ng-click="doSearch()"
							bs-tooltip>
							<span class="glyphicon glyphicon-search"></span>
						</button>  
					</span>
				</div>
			</div>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="navbar-collapse-1">

			<ul class="nav navbar-nav navbar-right">

				<li ng-if="isLoggedIn" class="dropdown">
					<a class="dropdown-toggle text-primary" data-toggle="dropdown" href="" style="color: #337ab7;">
						<strong>Administration</strong>
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="/admin-produkter">Produkter</a></li>
						<li><a href="/admin-tilbud">Tilbud</a></li>
						<li><a href="/admin-undersider">Undersider</a></li>
						<li class="divider"></li>
						<li><a href="/admin-kategori">Kategorier</a></li>
						<li><a href="/admin-enhed">Enheder</a></li>
						<li><a href="/admin-sort">Træsorter</a></li>
						<li><a href="/admin-kvalitet">Kvaliteter</a></li>
						<li><a href="/admin-overflade">Overflader</a></li>
						<li><a href="/admin-profil">Profiler</a></li>
						<li class="divider"></li>
						<li><a href="/admin-sitemap">Generer sitemap</a></li>
						<li class="divider"></li>
						<li><a href="#" ng-click="logout()">Log af</a></li>
					</ul>
				</li>

				<li class="dropdown" id="produkt-kategorier">
					<a class="dropdown-toggle" 
						data-toggle="dropdown" 
						href="" 
						style="color: #a94442;">
							Produkt kategorier
						<span class="caret"></span>
					</a>
					<div class="dropdown-menu row col-lg-12 three-column-navbar" role="menu">
						<div class="col-md-4">
							<h3>Plank</h3>
							<h4><a href="/kategori/Terrasseplank/4">Terrasseplank</a></h4>
							<h4><a href="/kategori/Massiv-plank/8">Massiv plank</a></h4>
							<h4><a href="/kategori/Lamel-plank/5">Lamelplank</a></h4>
							<!--
							<h4>Lamel planker</h4>
							-->
						</div>
						<div class="col-md-4">
							<h3>Stavparket</h3>
							<h4><a href="/kategori/sildeben/6">Sildeben</a></h4>
							<h4><a href="/kategori/Sildeben-2-lags/10">Sildeben 2-lags</a></h4>
							<h4><a href="/kategori/mosaik-ruder/3">Mosaik ruder</a></h4>
							<h4><a href="/kategori/Hoejkantparket/7">Højkantparket</a></h4>
							<h4><a href="/kategori/Stavparket/2">Stavparket</a></h4>
							<h4><a href="/kategori/3-stav-lamelparket/11">3-stav lamelparket</a></h4>
						</div>
						<div class="col-md-4">
							<h3>Diverse</h3>
							<h4><a href="/kategori/Tilbehoer/9">Tilbehør (Lim mv.)</a></h4>
							<br>
							<small style="position:relative;top:106px;right:-80px;"><a href="/produkt-oversigt">Alle produkter »</a></small>
						</div>
					</div>
				</li>

				<li><a href="/">Forside</a></li>
				<li><a href="/tilbud">Tilbud</a></li>
				<li><a href="/restpartier">Restpartier</a></li>
				<li><a href="/kontakt">Kontakt</a></li>
				<li><a href="/referencer">Referencer</a></li>
				<li><a href="/om-gulve-online">Om <strong>gulve.online</strong></a></li>

			</ul>

		</div><!-- /.navbar-collapse -->
	</div><!-- /.container -->
</nav><!-- /.navbar -->

