
<div class="container">

	<h1>{{ produkt.navn }}</h1>

	<div class="md-col-12">
		<p ng-bind-html="produkt.beskrivelse"></p>

		<table class="table">
	    <thead>
				<tr>
	        <th colspan="2">Specifikationer</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-if="produkt.vare_nr != '' ">
					<td class="col-md-4">Varenr.</td>
					<td>{{ produkt.vare_nr }}</td>
				</tr>
				<tr>
					<td>Kategori</td><td>{{ produkt.kategori }}</td>
				</tr>
				<tr ng-if="produkt.traesort != '' ">
					<td>Træsort</td>
					<td>{{ produkt.traesort }}</td>
				</tr>
				<tr ng-if="produkt.kvalitet != '' ">
					<td>Sortering</td>
					<td>{{ produkt.kvalitet }}</td>
				</tr>
				<tr ng-if="produkt.overflade != '' ">
					<td>Overfladebehandling</td>
					<td>{{ produkt.overflade }}</td>
				</tr>
				<tr ng-if="produkt.dimension != '' ">
					<td>{{ produkt.enhed_spec }}</td>
					<td>{{ produkt.dimension }}</td>
				</tr>
				<tr>
					<td>Lagerkapacitet</td>
					<td ng-if="produkt.paa_lager > 0 ">{{ produkt.paa_lager }} {{ produkt.enhed }} kan leveres straks</td>
					<td ng-if="produkt.paa_lager == 0 ">Leveringstid 1-2 uger</td>
				</tr>
				<tr ng-if="produkt.pakker > 0 ">
					<td>Leveres i uåbnede pakker</td>
					<td>{{ produkt.pakke_str }} {{ produkt.enhed }} per pakke</td>
				</tr>

			</tbody>
		</table>

		<div class="alert alert-success">
<!--
			<h3 style="margin-top:10px;">Pris per {{ produkt.enhed }} DKK {{ produkt.pris_enhed | currency:",":2 }} </h3>
-->
			<h3 style="margin-top:10px;"><span style="color:gray;">Pris per {{ produkt.enhed }} :</span> &nbsp;&nbsp;  {{ produkt.pris_enhed | currency }} </h3>
		</div>

	</div>

	<div ng-repeat="i in billeder" class="image image-md">
		<img class="thumbnail" ng-src="/media-uploads/{{ i.path }}" style="cursor:pointer;" fancyboxable>
	</div>

</div>


<br><br><br><br>


