
<div class="container">

	<h1>{{ produkt.navn }}</h1>

	<div class="md-col-12">
		<p ng-bind-html="produkt.beskrivelse"></p>

		<table class="table">
	    <thead>
				<tr>
	        <th colspan="2">Specifikationer</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-if="produkt.vare_nr != '' ">
					<td class="col-md-4">Varenr.</td>
					<td>{{ produkt.vare_nr }}</td>
				</tr>
				<tr>
					<td>Kategori</td>
					<td>{{ produkt.kategori }}</td>
				</tr>
				<tr ng-if="produkt.sort != '' ">
					<td>Træsort</td>
					<td>
						<a class="unstyled"
							ng-href="#/oversigt/traesort/{{ produkt.urlSort }}/{{ produkt.sort_id }}" 
							title="Klik for at se alle gulve i træsorten {{ produkt.sort | lowercase }}">
							{{ produkt.sort }}
							&nbsp;<small><i class="text-muted fa fa-external-link"></i></small>
						</a>
					</td>
				</tr>
				<tr ng-if="produkt.kvalitet != '' ">
					<td>Sortering</td>
					<td>
						<a class="unstyled"
							ng-href="#/oversigt/kvalitet/{{ produkt.urlKvalitet }}/{{ produkt.kvalitet_id }}" 
							title="Klik for at se alle gulve i kvaliteten {{ produkt.kvalitet | lowercase }}">
							{{ produkt.kvalitet }}
							&nbsp;<small><i class="text-muted fa fa-external-link"></i></small>
						</a>
					</td>
				</tr>
				<tr ng-if="produkt.overflade != '' ">
					<td>Overfladebehandling</td>
					<td>
						<a class="unstyled"
							ng-href="#/oversigt/overflade-behandling/{{ produkt.urlOverflade }}/{{ produkt.overflade_id }}" 
							title="Klik for at se alle gulve med {{ produkt.overflade | lowercase }} overflade">
							{{ produkt.overflade }}
							&nbsp;<small><i class="text-muted fa fa-external-link"></i></small>
						</a>
					</td>
				</tr>
				<tr ng-if="produkt.profil != '' ">
					<td>Profil</td>
					<td>
						<a class="unstyled"
							ng-href="#/oversigt/profil/{{ produkt.urlProfil }}/{{ produkt.profil_id }}" 
							title="Klik for at se alle gulve med {{ produkt.profiloverflade | lowercase }} profil">
							{{ produkt.profil }}
							&nbsp;<small><i class="text-muted fa fa-external-link"></i></small>
						</a>
					</td>
				</tr>
				<tr ng-if="produkt.dimension != '' ">
					<td>{{ produkt.enhed_spec }}</td>
					<td>{{ produkt.dimension }}</td>
				</tr>
				<tr>
					<td>Lagerkapacitet</td>
					<td ng-if="produkt.paa_lager > 0 ">{{ produkt.paa_lager | number }} {{ produkt.enhed_flertal }} kan leveres straks</td>
					<td ng-if="produkt.paa_lager == 0 ">Leveringstid 1-2 uger</td>
				</tr>
				<tr ng-if="produkt.pakker > 0 ">
					<td>Leveres i uåbnede pakker</td>
					<td>{{ produkt.pakke_str }} {{ produkt.enhed }} per pakke</td>
				</tr>

			</tbody>
		</table>

		<div class="alert alert-success">

			<h3 style="margin-top:10px;">
				<span style="color:gray;">Pris per {{ produkt.enhed }} :</span> &nbsp; 

				<span ng-if="produkt.tilbud_pris_enhed">
					<strike class="text-muted">{{ produkt.pris_enhed | currency }}</strike>
					{{ produkt.tilbud_pris_enhed | currency }} 
				</span>
				<span ng-if="!produkt.tilbud_pris_enhed">
					{{ produkt.pris_enhed | currency }} 
				</span>

				<a class="btn btn-primary btn-lg pull-right" 
					href='/#kontakt'
					style="position:relative; top:-10px;" 
					title="Klik for at høre mere om {{ produkt.navn }}">
					Få mere at vide ...
				</a>
			</h3>
		</div>

	</div>

	<div ng-repeat="i in produkt.billeder" class="image image-md">
		<img class="thumbnail" ng-src="/media-uploads/{{ i.path }}" style="cursor:pointer;" fancyboxable>
	</div>

</div>


<br><br><br><br>


