
<div class="container-fluid">

	<div class="row">

	<h1>{{ produktList.title }}</h1>

	<div>
		<p ng-bind-html="produktList.desc" read-more></p>
	</div>

	<div class="md-col-12 clearfix">
		<h5 class="pull-left" style="margin-bottom: 0px; margin-top:20px;"> 
			Viser {{ filtered.length }} 
			<span ng-if="filtered.length == 1">produkt</span>
			<span ng-if="filtered.length == 0 || filtered.length > 1">produkter</span>
			af {{ produkter.length }} mulige.
		</h5>

		<h5 class="pull-right"> 
			<span	ng-show="gulvtypeItems != undefined">Gulvtype</span>
			<button type="button" 
				ng-show="gulvtypeItems != undefined"
				class="btn btn-sm btn-default" 
				ng-model="filter" 
				data-toggle="true"
				placeholder="Vælg"
				data-container='body'
				bs-select
				bs-options="filter.filter as filter.navn for filter in gulvtypeItems">
			  <span class="caret"></span>
			</button>
			&nbsp;&nbsp;&nbsp;
			Sorter efter
			<button type="button" 
				class="btn btn-sm btn-default" 
				ng-model="sortering" 
				data-toggle="true"
				placeholder="Vælg"
				data-container='body'
				bs-select
				bs-options="sort.id as sort.navn for sort in sorteringItems">
			  <span class="caret"></span>
			</button>

		</h5>


	</div>

	<div class="md-col-12 ">
		<hr class="clearfix" style="margin-top:0px;">
	</div>

	<div class="row md-col-12 clearfix" 
			ng-repeat="p in filtered = ( produkter | orderBy:sortering | filter: filter )" 
			ng-class-even="'element-even'"
			style="margin-bottom: 10px !important; padding:10px;">
		<div class="md-col-12">
			<h3 class="text-nowrap" style="margin-top: 10px !important;">
				<span ng-if="p.produkt_type_id == 2" class="badge produkt-badge tilbud">TILBUD</span>
				<span ng-if="p.produkt_type_id == 3" class="badge produkt-badge restlager">RESTPARTI</span>
				<span ng-if="p.nyhed == 1" class="badge produkt-badge nyhed">NYHED</span>
				<a href="{{ p.url }}" title="Gå til {{ p.navn }}">
					{{ p.navn }} 
				</a>
			</h3>
		</div>
		<div class="col-md-3 text-center" style="max-height:120px;overflow:hidden;">
			<a href="{{ p.url }}" title="{{ p.navn }}" class="unstyled">
				<img class="img-thumbnail" ng-src="{{ p.billede }}" alt="{{ p.navn }}">
			</a>
		</div>
		<div class="col-md-9">
			<h2 class="text-success" style="margin-top:0px;">
				<span ng-if="p.tilbud_pris_enhed">
					<strike class="text-muted">{{ p.pris_enhed | currency }}</strike>
					{{ p.tilbud_pris_enhed | currency }} /{{ p.enhed }}
				</span>
				<span ng-if="!p.tilbud_pris_enhed">
					{{ p.pris_enhed | currency }} /{{ p.enhed }}
				</span>
			</h2>
			<h4 style="line-height:140%;">
				<span ng-if="p.vare_nr != '' "><strong title="gulve.online varenr: {{ p.vare_nr }}">{{ p.vare_nr }}</strong>.</span>
				<span ng-if="p.kategori != '' ">{{ p.kategori }}. </span>
				<span ng-if="p.sort != '' ">{{ p.sort }}. </span>
				<span ng-if="p.dimension != '' ">{{ p.dimension }}. </span>
				<span ng-if="p.overflade != '' ">{{ p.overflade }}. </span>  
				<span ng-if="p.kvalitet != '' ">{{ p.kvalitet }} sortering. </span>
				<span ng-if="p.profil != '' ">{{ p.profil }} profil. </span>
				<span ng-if="p.pakker > 0 ">Leveres i pakker à {{ p.pakke_str | number:2 }} m&sup2;. </span>
				<span ng-if="p.paa_lager > 0">{{ p.paa_lager | number:2 }} m&sup2; på lager. Kan leveres straks. </span>
				<span ng-if="p.paa_lager <= 0">1-2 ugers leveringstid. </span>
			</h4>
		</div>
	</div>
</div>


<br><br><br><br>


